{% extends "pages/layout.html" %}

{% block body %}
<div class="education portfolio-card ">
<h1>Education</h1>


    <em><h2>Kirinyaga University : </h2></em><p>Bachelor of Science in computer science <em>(2020 - 2025)</em></p>
    <em><h2>ST.Michael's Secondary School : </h2></em><p>Kenya Certificate Of Secondary EducationS <em>(2016 - 2029)</em></p>
    
</div>
<div class="experience portfolio-card ">
    <h1>Experience</h1>
    <div class="one">
         <h2> 1. First Advantage Academy</h2>
    <p>With First adavantage Academy I got an internship training on industrial softare development practices</p>

    </div>

    <div class="two">
         <h2>2. Agile Minds</h2>
    <p>Worked as a Video Operator </p>
    </div>

    <div class="three">
        <h2>3. Instaveg LTD</h2>
    <ol>
        <li><p>Worked as an assistant Quality Controller in Packhouse </p></li>
        <li><p>Worked as a Field Quality Controller supervisor achieving remarkable improvement in waste management at farm level</p></li>
    </ol>
    </div>

    <div class="four">

    <h2>4. JosephJose Foundation</h2>
    <ol>
        <li><p>Worked as a sales agent in retail supply for local shops on part time </p></li>
        <li><p>Worked as a cyber attendant at Jose Cyber on part time</p></li>
    </ol>
    </div>



   
</div>
<div class="interests portfolio-card ">

    <h2>Interests</h2>

    <ol>
        <li>Software Development</li>
        <li>Data Analysis</li>
        <li>Project Managment</li>
    </ol>

</div>

{% endblock body %}

