{% extends "pages/layout.html" %}

{% block body %}

<div class="contact portfolio-card">
    <div class="email">
    <h3>Email</h3>
    <p>felixflire3@gmail.com</p>
</div>
<div class="phone">
    <h3>phone:</h3>
    <p>07.........</p>
</div>
<div class="github">
    <h3>Github</h3>
    <p><a href="https://github.com/jumawakhungufelix">github link</a></p>
</div>
<div class="linkedin">
    <h3>Linkedin</h3>
    <p><a href="https://www.linkedin.com/in/felix-juma-b9abb4249/">linkedin link</a></p>
</div>

</div>
{% endblock  %}


