{% extends "pages/layout.html" %}

 {% block body %}
 <h1>Projects</h1>

 <div class="project1 portfolio-card ">
    <h2>Hospital Management System</h2>

 <p>built a complete Hospital System with CRUD operations. The system has the following sectiond which apply the CRUD operations Intergrated with a database system for storing the data: </p>
 <ul>
    <li>Doctors Section</li>
    <li>Patients Section</li>
    <li>Ward Section</li>
    <li>Appointments Section</li>
 </ul>
 </div>
 <div class="project2 portfolio-card ">
    <h2>Field Management System</h2>
    <p>Built a fully functional Field managememt System with Node js to help monitor field operations and following up on the field stages </p>

 </div>
 <div class="project3 portfolio-card ">
    <h2>Hotel Management System</h2>
    <p>Built a fully functional Hotel Managment system that helps customeres order food in a more time saving way othere than waiting for a waiter to finish up picking other orders and delivering them. Instead the waiter is only tasked to deliver orderd food to the required table and chair and only makes order for customer when need be</p>
    
 </div>

 {% endblock body %}