{% extends "pages/layout.html" %}

{% block body %}
<h1>
    Skills
</h1>

<div class="front portfolio-card ">
    <h2>Fontend Development</h2>
    <ol>
        <li>HTML/CSS</li>
        <li>Bootsrap Framework</li>
        <li>React Js</li>
        <li>JavaScript</li>
    </ol>
</div>
<div class="backend portfolio-card ">
    <h2>Backend Development</h2>
    <ol>
        <li>Django</li>
        <li>Node.js</li>
        <li>SpringBoot</li>

    </ol>
</div>
<div class="database portfolio-card ">
    <h2>Database Management</h2>
    <ol>
        <li>SQL</li>
        <li>NoSQL</li>
    </ol>
</div>
<div class="Machine-learning portfolio-card ">
    <h2>Machine Learning</h2>
    <ol>
        <li>Numpy</li>
        <li>Simpy</li>
        <li>PowerBI</li>
    </ol>
</div>
{% endblock %}